.flexRow--mobile__pdp {
    margin-top    : 1rem;
    padding-bottom: 100px;
}

.flexRow--mobile__pdp :global(.vtex-store-components-3-x-container) {
    padding: 0;
}

.flexCol--mobile__pdp-content {
    gap: 1rem;
}

@media only screen and (min-width: 500px) {
    .flexCol--check_price-content {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 639px) {
    .flexRowContent--shelfRelatedProducts-container :global(.vtex-slider-0-x-sliderFrame) {
        transform     : translateX(0px) !important;
        flex-direction: column;
        width         : 100% !important;
    }
}

@media only screen and (max-width: 1024px) {
    .flexRowContent--breadcrumb__container-pdp {
        padding-left : 20px;
        padding-right: 20px;
    }

    .flexRow--product__key_activation-container {
        padding-left : 20px;
        padding-right: 20px;
    }

    .flexRow--product__system_works {
        padding-left : 20px;
        padding-right: 20px;
    }

    .flexRow--shelfRelatedProducts-container {
        padding-left : 20px;
        padding-right: 20px;
    }

    .flexRowContent--product__reviews-container :global(.vtex-reviews-and-ratings-3-x-reviewsHeading) {
        padding: 0 20px;
    }

    .flexRowContent--product__reviews-container :global(.vtex-reviews-and-ratings-3-x-reviewsRating) {
        padding: 0 20px;
    }

    .flexRowContent--product__reviews-container :global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) {
        padding: 0 20px;
    }

    .flexRowContent--product__reviews-container :global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) {
        padding: 0 20px;
    }
}