.flexCol--home__slider--one {
    margin-bottom: 2rem;
}

.flexCol--home__slider--one :last-child {
    align-self: center;
}

.flexRow--home__section--third {
    background-color: #330e82;
}

.flexRow--home__section--five {
    background-color: #330e82;
}

.flexRow--home__section--five :global(.vtex-store-components-3-x-container) {
    margin-left : 16px;
    margin-right: 16px;
}

.flexRowContent--home__popularcards_mobile {
    display: flex;
}