.paragraph--home__section--one--title {
    color: red;
}

.paragraph--home__section--one--title-two {
    color: green;
}

.paragraph--home__section--one--title-third {
    color: brown;
}

.container--home__slider--text {
    max-width   : 1200px;
    margin-left : auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .paragraph {
        font-size: 1.25rem;
    }
}