.nameContainer {
    justify-content: initial;
}

.installmentContainer {
    text-align: left;
}

.sellingPriceContainer {
    text-align: left;
}

.price_listPriceContainer {
    text-align: left;
}