.flexRow--footer__content {
    padding         : 20px 20px 50px;
    margin          : 0;
    background-color: #1F0A4E;
}

.flexRowContent--footer__content {
    max-width   : 1200px;
    margin-left : auto;
    margin-right: auto;
}

.flexRowContent--footer__options {
    flex-wrap      : wrap;
    justify-content: space-between;
    max-width      : 1200px;
}

.flexRowContent--follow_us-social_network :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexCol--content__container {
    gap: 1.125rem;
}

.flexRow--footer__payments-container {
    background-color: white;
}

.flexRowContent--footer__payments-container {
    justify-content: center;
    padding        : 0.313rem;
    overflow-x     : hidden;
    flex-wrap      : wrap;
    max-width      : 1200px;
    margin-left    : auto;
    margin-right   : auto;
}

.flexRow--footer__partners-container {
    padding-top   : 1rem;
    padding-bottom: 1rem;
    border-top    : solid 1px white;
    border-bottom : solid 1px white;
}

.flexRowContent--partners__logos-container {
    justify-content: center;
}

@media only screen and (min-width: 1080px) {
    .flexRowContent--footer__payments-container {
        justify-content: left;
    }
}