.link--create_ticket {
    margin         : 0;
    font-size      : 15px !important;
    font-weight    : 800;
    color          : black;
    padding-top    : 9px;
    padding-bottom : 9px;
    text-transform : none;
    text-decoration: initial;
    text-align     : center;
}