.flexRow--header__desktop :global(.vtex-store-components-3-x-container) {
    padding-left : 0;
    padding-right: 0;
}

.flexRowContent--desktop__navbar-options {
    padding-left : 1rem;
    padding-right: 1rem;
}

.flexRow--desktop__navbar-menu {
    background-color: #330e82;
}

.flexRowContent--desktop__navbar-menu {
    margin: 0 auto 50px;
}

.flexCol--desktop__navbar-menu {
    background-color: #330e82;
}