.container--shelf__title {
    max-width   : 1200px;
    margin-left : auto;
    margin-right: auto;
}

.paragraph--product__summary-region {
    color: #00CF9F;
}

.paragraph--product__summary-at {
    color: rgba(255, 255, 255, 0.5);
}