.sliderLayoutContainer--home__shelf-layout {
    max-width: 1200px;
    margin   : 0 auto 50px;
}

.paginationDotsContainer--home__shelf-layout {
    transform: translateY(30px);
}

.imageElement {
    max-height: initial !important;
}

.sliderLayoutContainer--home__shelf-layout :global(.vtex-slider-layout-0-x-sliderTrack--home__shelf-layout) {
    gap: 1rem;
}

.sliderTrack--home__shelf-layout :global(.vtex-slider-layout-0-x-slide) {
    width           : 100% !important;
    background-color: #1F0A4E;
    align-self      : center;
}

.sliderTrack--home__shelf-layout :global(.vtex-flex-layout-0-x-flexRowContent) {
    gap: 8px;
}

:global(.vtex-product-summary-2-x-containerNormal) {
    max-width: none !important;
}

.bullet__item {
    background-color: #5825CC;
    height          : 140px;
    padding         : 15px 5px 0;
    box-shadow      : 0 7px 15px 0 rgb(0 0 0 / 20%);
    transition      : background 150ms ease-in-out;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    text-align      : center;
    cursor          : pointer;
    min-width       : 98px;
    max-width       : 152.28px;
    width           : 100%;
}

.bullet__item--title {
    text-decoration: none;
    font-size      : 13px;
    font-weight    : 800;
    color          : white;
}