.flexRow--tablet__contact_us-container {
    padding: 0 20px;
}

.flexRow--tablet__contact_us-container :global(.vtex-store-components-3-x-container) {
    padding: 0;
}

.flexRowContent--tablet__contact_us-container {
    padding    : 40px 0 60px;
    min-height : calc(100vh - 420px);
    align-items: center;
}

.flexRowContent--tablet__contact_us-container :global(.vtex-rich-text-0-x-paragraph) {
    padding: 0;
    margin : 0;
}

.flexRow--tablet__contact_us-email--container {
    padding    : 0 30px;
    margin-left: 30px;
    border-left: solid 1px white;
}

.flexCol--tablet__contact_us-ticket--content {
    gap: 2rem;
}