.menuContainerNav--desktop__menu-items :global(.vtex-menu-2-x-submenuContainer) {
    position: initial !important;
}

.menuContainerNav--desktop__menu-items :global(.vtex-menu-2-x-submenuWrapper) {
    width: 100vw;
}

.menuContainer--desktop__submenu-lvl1 {
    flex-direction: row;
}

.menuContainer--desktop__submenu-lvl1 :global(.vtex-menu-2-x-submenuWrapper) {
    position: relative;
    width   : auto !important;
}

.menuContainerNav--desktop__menu-items :global(.vtex-menu-2-x-submenu) {
    justify-content: initial;
}