.flexRow--header__desktop :global(.vtex-store-components-3-x-container) {
    padding-left : 0;
    padding-right: 0;
}

.flexRowContent--desktop__navbar--one {
    padding-left : 1rem;
    padding-right: 1rem;
}

.flexRow--main-header-phone {
    height          : 55px;
    background-color: #4618AC;
}

.flexRowContent--main-header-phone {
    padding: 4px;
}

.flexRow--desktop__navbar--two {
    background-color: #330e82;
}

.flexRowContent--desktop__navbar--two {
    margin: 0 auto 50px;
}

.flexRow--mobile__login-container {
    width   : 100%;
    position: relative;
    bottom  : 40px;
}

.flexCol--mobile__login-buttons {
    align-items: center;
}

.flexCol--desktop__navbar--two {
    background-color: #330e82;
}

.flexColChild--mobile__login-buttons :global(.vtex-login-2-x-label) {
    margin        : 0;
    font-size     : 1rem !important;
    font-weight   : 600;
    color         : white;
    display       : block;
    padding       : 8px 48px 8px 46px;
    border        : solid white 1px;
    text-transform: none;
}

/* Searchbar container phone */
.flexRow--phone__searchbar-container {
    flex-grow: 1;
}

@media only screen and (min-width: 931px) {
    .flexRow--main-header-phone {
        margin: 20px;
    }
}