.biggy-autocomplete {
    background-color: #5825CC;
    flex-direction  : column;
}

.itemListList {
    border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
}

.itemListItem {
    border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
}

.itemListLink {
    border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
}

.itemListSubItemLink {
    border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
}

.tileListItem {
    flex-direction: column;
}

.information {
    width         : 100%;
    flex-direction: row;
}

.currencyContainer {
    color: #FAD318;
}

.tileListSeeMore {
    color: white;
}